# Lesson 4.1: Variables

# Activity 1A: Hello World

## Instructor Demo

There are two main versions of Python: 2.x and 3.x. Both of then come pre-installed on Linux systems. The one we are going use in this class is Python 3.x.

In [ ]:
print ("hello world")

## Student Exercise
In the code line  write `print ("hello world")` and select Run. Observe the stdout.

# Activity 1B: Variables and Data Types

You can easily declare variables using the `=` operator. The operand to the left of the `=` operator is the name of the variable, and the operand to the right is the value stored in the variable.

## Instructor Demo

In [ ]:
name = "Miguel"
age = 35
telphone_num = 909111112
street_address = "144 ocean beach"
city = "San Diego"
email = "123@gmail.com"
height = 5.6

Variables can store data of different types, and different types can complete different tasks.

In this lesson we will cover three data types in Python: integers, floats, and strings.

**Integers** are zero, positive or negative whole numbers. 
They can be of any length, e.g. 0, 100, -10.

In [ ]:
num_1 = 1 
num_2 = 5
num_3 = 7

**Note:** In some languages you need to declare the type of variable. In Python it is a bit different. By putting a value into the "box", the box changes its type into an integer.

**Floats** represent the floating point number. These are numbers with decimal points.

In [ ]:
float_1 = 0.1
float_2 = -1.7
float_3 = 2.5

**Strings** are collections of alphabets, words, or other characters that are enclosed in quotation marks.

In [ ]:
First_name = "My name"
favorite_food = "dumplings"
age = "thirty five"

**Note:** Like integers, you don't need to declare the type. You do need to put the value in quotation marks which "tells" Python this is a string. Then, it creates a "box" for this type of value.

Variables that are assigned can also be reassigned. Here, we declare a variable called `color` and assign it a value of “red”. Then, we reassign the variable to a value of “blue”. If we print the variable, it will print the most recently assigned value.

In [ ]:
color = "red"
color = "blue"
print(color)

## Student Exercise
* Create a variable called `my_name` and assign your name to it. Print it.
* Create a variable called `telephone_number` and assign your telephone number to it. Print it.
* Create variable called `email_address` and assign your email address to it. Print it.

# Activity 1C: Type Method  and Casting 
We can tell which data type a variable contains by using the `type()` method. 

## Introduction

### Data Types

Declare a variable called `num` that has a value of 1.

In [ ]:
num_1 = 1

What do you think the result of the following command will be?

In [ ]:
print(type(num_1))

Declare a variable that is a string.

In [ ]:
str_1 = "string"

What do you think the results of the next scripts will be? Run them to find out.

In [ ]:
print(type(str_1))

In [ ]:
num_1 = "5"
print(type(num_1))

**Note:** You may have noticed that the value assigned to the variable was a number, but the type is a string. Anything in quotes in Python will always be considered a string, even if it's a number.

### Casting

You can also change the data type of a variable. This is known as casting and it will come in handy later on when we are concatenating, or combining, different pieces of data. 

For now, just know that if you wanted to print a string with a number, you need to change that number data type to a string data type. 

Declare a variable called `str_1` and give it a string value of “1”.

In [ ]:
str_1 = "1"
print(type(str_1))

To change the data type to an integer, use the following code.

In [ ]:
str_1 = int(str_1)

This changes the value of `str_1` to a an integer data type. You can run the following code to confirm the change.

In [ ]:
print(type(str_1))

You can also cast the other way. Run the following code to observe the results.

In [ ]:
num_1 = 1
print(type(num_1))

num_1 = str(num_1)

print(type(num_1))

## Instructor Demo 
In this demo, we will:
* Declare variables and determine the data types contained within them.
* Perform casting between integers and strings.

In [ ]:
num_1 = 1
num_2 = -35

print(type(num_1))
print(type(num_2))


name = "John Doe"
print(type(name))

In [ ]:
float_1 = 1.10
float_2 = -1.2

print(type(float_1))
print(type(float_2))

In [ ]:
str_1 = "hello world"
str_2 = "5"

print(type(str_1))
print(type(str_2))

In [ ]:
num_1 = 23
num_1 = str(num_1)
print(type(num_1))

In [ ]:
str_3 = "23"
str_3 = int(str_3)
print(type(str_3))

Which data types and variables will result from the following script?

In [ ]:
name = "john"
age = 11
price = 22.6
price = 233
country = "USA"

## Student Exercise

### Problem 1 
* Create a variable called `age` and assign your age to it.
* Print the type of the `age` variable.

### Problem 2 
`str1 = "35"`
* Print the type of the `str1` variable.
* Cast the variable to an integer.
* Assign it to a new variable named `num1`.
* Print the new type.

### Problem 3 
`my_course = "cybersecurity analyst"`

Print the type of the `my_course` variable.


# Activity 1D: Arithmetic Operators 

## Introduction
Next we'll look at arithmetic operators in Python and how variables and data types can be easily manipulated using simple arithmetic. 
We can take variables that contain numeric values and use arithmetic symbols like plus (`+`) for addition, dash (`-`) for subtraction, star (`*`) for multiplication, and forward slash (`/`) for division. 

In the following list, assume `variable a = 10` and `variable b = 20`. 

Addition (+)
* Adds values on either side of the operator.
* `a + b = 30`

Subtraction (-)
* Subtracts right hand operand from left hand operand.
* `a – b = -10`

Multiplication (*)
* Multiplies values on either side of the operator
* `a * b = 200`

Division (/)
* Divides left hand operand by right hand operand
* `b / a = 2`

Modulus (%)
* The remainder of the division of 2 numbers
* `b % a = 0`

**Note:** Variables that contain string values can also be combined together using the `+` or the `*` operator. We will see this later on in the lesson.

##  Instructor Demo
### Multiplication

In [ ]:
number_1 = 20
number_2 = 30
print("The result is :",number_1 * number_2)

### Addition

In [ ]:
number_1 = 40
number_2 = 30
print("The sum of the 2 numbers is ", number_1 + number_2)

### Division

In [ ]:
number_1 = 120
number_2 = 7
print("The division of these 2 numbers is ",number_1 / number_2)

### Modulus

In [ ]:
number_1 = 35
number_2 = 10
print("The modulus of these numbers is ",number_1 % number_2)

## Student Exercise

### Problem 1 
* Create a variable called `car_name` and assign the value “GMC” to it.
* Create a variable called `year` and assign the value 2002 to it.
* Create a variable called `price` and assign the value 10000 to it.
* Print the value of each variables.

### Problem 2
* Create 2 variables called `num_1` and `num_2`. Assign any number to each.
* Print the sum of `num_1` and `num_2`.
* Print the product of `num_1` and `num_2`.
* Print the quotient of `num_1` by `num_2`.
* Print the remainder of the division of `num_1` by `num_2`.

### Problem 3
* Create two variables: `num_int` and `num_str`.
* Have `num_int` contain the integer value 4.
* Have `num_str` contain the string value ”5”.
* Print the sum of the two numbers.

# Activity 1E: Concatenation

Two strings can be concatenated, or joined, using the `+` operator.

## Instructor Demo

In [ ]:
string_1 = "hello"
string_2 = "world "
string_combined = string_1 + string_2
print(string_combined)

If you want to separate the two strings while printing, use a blank space as indicated by the empty quotes.

In [ ]:
string_1 = "hello"
string_2 = "world"
string_combined = string_1+" "+string_2
print(string_combined)

The same string can be repeated by n times using `string * n`.

In [ ]:
string_1 = "helloworld "
print(string_1 * 2)
print(string_1 * 3)
print(string_1 * 4)
print(string_1 * 5)

## Student Exercise

###  Problem 1
* Create 2 variables, `f_name` and  `l_name`.
* Assign your first and last name to the variables.
* Print and concatenate your first and last name.

### Problem 2 
* Create a variable named `var_1`.
* Assign a value of your name to it.
* Print the variable 50 times.

### Problem 3
* Create a variable called `my_car`. Assign a favorite car name or type to it.
* Print a statement that says "My favorite car is [favorite car name or type]."

# Activity 1F: Getting User Input 
## Introduction

Sometimes we need to receive values for variables from a user. This makes the program more interactive and flexible.

There are built-in methods in Python to receive input from a user. Let's take a look at `input()`. This method will always return a string to the variable, no matter what the user puts in as input.

In the following example, the program displays the prompt (`“Please enter your first name: ”`) and waits for the user to take action. 

Note: When using the `input()` command, we always have to put quotes around the values.

In [ ]:
f_name = input("please enter your first name:")
print(f_name)

## Instructor Demo:

In this demo, we will receive a name from the user using the `input()` method and then print it.

In [ ]:
First_name = input("What is your first name?")
Last_name = input("What is your last name?")
City = input("Where do you live?")
print("My name is: "+First_name+" " +Last_name+" "+" and I live in : "+City)

## Student Exercise

* Create two variables, `my_name` and `neighbors_name`. They should take the input of your first name and your neighbor's first name.
* Create two more variables, `my_age`, `neighbors_age`. They should the input of your age and your neighbor's age. 
* Create another variable, `total_years`. This should crate the sum of your age and your neighbor's age.
* Print the following statements:
    * "I am [my_name] and my neighbor is [neighbor_name]."
    * "Together our age is [total_years]."